*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }
  form{
    border: dotted skyblue;
    width: fit-content;
    padding: 3rem;

  }